In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-03-14 22:49:11,-21.2000,-175.2000,84.20,70,75,5.75
1,1,Sao Filipe,CV,2021-03-14 22:48:58,14.8961,-24.4956,71.13,71,0,4.54
2,2,Beringovskiy,RU,2021-03-14 22:46:21,63.0500,179.3167,11.89,86,98,9.19
3,3,Ribeira Grande,PT,2021-03-14 22:49:12,38.5167,-28.7000,60.80,100,40,6.91
4,4,Arraial Do Cabo,BR,2021-03-14 22:49:12,-22.9661,-42.0278,77.81,83,14,15.82

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
   temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-03-14 22:49:11,-21.2000,-175.2000,84.20,70,75,5.75
4,4,Arraial Do Cabo,BR,2021-03-14 22:49:12,-22.9661,-42.0278,77.81,83,14,15.82
5,5,Atuona,PF,2021-03-14 22:49:12,-9.8000,-139.0333,80.19,68,41,11.52
11,11,Tevaitoa,PF,2021-03-14 22:49:14,-16.7833,-151.5000,83.10,73,85,11.90
12,12,Kahului,US,2021-03-14 22:47:58,20.8947,-156.4700,75.99,64,20,13.80
17,17,Gizo,SB,2021-03-14 22:49:16,-8.1030,156.8419,83.66,70,47,6.96
21,21,Singkang,MY,2021-03-14 22:49:17,2.1006,102.7994,78.80,83,20,5.75
25,25,Puerto Ayora,EC,2021-03-14 22:49:20,-0.7393,-90.3518,82.40,74,40,9.22
31,31,Rikitea,PF,2021-03-14 22:47:55,-23.1203,-134.9692,80.87,76,18,13.15
37,37,Hilo,US,2021-03-14 22:46:57,19.7297,-155.0900,75.20,83,90,13.80

In [21]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Vaini      TO     84.20 -21.2000 -175.2000
4   Arraial Do Cabo      BR     77.81 -22.9661  -42.0278
5            Atuona      PF     80.19  -9.8000 -139.0333
11         Tevaitoa      PF     83.10 -16.7833 -151.5000
12          Kahului      US     75.99  20.8947 -156.4700
17             Gizo      SB     83.66  -8.1030  156.8419
21         Singkang      MY     78.80   2.1006  102.7994
25     Puerto Ayora      EC     82.40  -0.7393  -90.3518
31          Rikitea      PF     80.87 -23.1203 -134.9692
37             Hilo      US     75.20  19.7297 -155.0900

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

                City Country  Max Temp      Lat       Lng           Hotel Name
0              Vaini      TO     84.20 -21.2000 -175.2000  Keleti Beach Resort
4    Arraial Do Cabo      BR     77.81 -22.9661  -42.0278  Pousada Porto Praia
5             Atuona      PF     80.19  -9.8000 -139.0333          Villa Enata
11          Tevaitoa      PF     83.10 -16.7833 -151.5000  Hôtel Raiatea Lodge
12           Kahului      US     75.99  20.8947 -156.4700   Maui Seaside Hotel
..               ...     ...       ...      ...       ...                  ...
566          Tautira      PF     87.80 -17.7333 -149.1500         Pension Oaoa
567           Dingle      PH     77.32  10.9995  122.6711      SEGAYA PROPERTY
569          Honiara      SB     84.20  -9.4333  159.9500  Heritage Park Hotel
571          Samarai      PG     83.66 -10.6167  150.6667            Nuli Sapi
572       Luganville      VU     84.00 -15.5333  167.1667   The Espiritu Hotel

[163 rows x 6 columns]

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))